.contenedor-principal {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbarHorizontal {
  background-color: white;
  padding: 0 1rem;
  border-bottom: .5px rgb(205, 204, 204) solid;
  width: 97vw;
  height: 100px;
  position: relative;
  overflow: visible;
  border-top: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.navbarHorizontal img {
  height: 95px; 
  width: 160px; 
  object-fit: contain; /* asegura que la imagen se ajuste sin distorsionarse */
  /*display: block;*/
  margin-top: 0;
}

.contenido-principal {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.navbarVertical {
  background-color: white;
  width: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-right: .5px rgb(205, 204, 204) solid;
}

.contenido {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

/* Estilos para los botones del navbar vertical */
.button {
  /*padding: 0.5rem;*/
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1 rem;
  text-align: left;
  font-size: 20px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(231, 213, 237);
  color: rgb(222, 125, 254);
}

.icon {
    font-size: 16px;
    flex-shrink: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre imagen y texto */
  height: 100%;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  position: relative;
  top: -40px; /* Ajusta este valor */
  left: -30px;
}

.article {
  display: flex;
  align-items: center;
  color: black;
  font-size: 0.8rem;
  position: absolute;
  right: 1rem; /* Mismo padding que el navbar */
  top: 50%;
  transform: translateY(-50%);
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  background-color: blueviolet;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.infoUsername {
  opacity: .6;
}

.adminButton {
  margin-left: 16px;
  border-radius: 999px;
  padding: 6px 16px;
  cursor: pointer;
  font-size: 25px;
  /*padding: 8px;*/
  transition: background-color 0.3s;
  color: white;
  display: flex;
}

.adminButton:hover {
  background-color: gray;
}