// inventario.scss (archivo principal que importa todos los componentes)
@import '../components/inventario-module';
@import '../components/tab-navigation';
@import '../components/action-bar';
@import '../components/items-grid';
@import '../components/inventario-form';
@import '../components/alertas-banner';